<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/greet-style.css">
</head>

<body>
    <div class="container">
        <div class="wrapper">
            <h1>Greeting</h1>
            <p class="error-message" id="msg" >{{error}}</p>
            <div class="message">
                <span class="name">Name</span>

                <form action="/greet" method="POST">
                    <input type="text" name="name" class="inputName" placeholder="enter the name">
                    <span class="counter">{{counter}}</span>
            </div>
            <div class="language-container">
                <div class=language>
                    <h2>English</h2>
                    <input type="radio" name="language" class="radio-input" value="english">
                </div>

                <div class=language>
                    <h2>Isixhosa</h2>
                    <input type="radio" name="language" class="radio-input" value="isixhosa">
                </div>

                <div class=language>
                    <h2>sesotho</h2>
                    <input type="radio" name="language" class="radio-input" value="sesotho">
                </div>
            </div>
            <div class="showElement" id="msg">
                {{GreetAll}}
                {{#if messages.info}}
                <div class="entry" id="msg">
                    <h1> {{messages.info}}</h1>
                </div>
                {{/if}}
            </div>
            <div>
                <button type="submit" class="button">Greet Me</button>
                <br>
                <br>
                <a href="/clear">
                    <div class="clear">Clear</div>
                </a>
            </div>
            <div class="topnav">
                <a class="active" href="/">Home</a>
                <a href="/greeted">Greeted</a>
                {{!-- <a href="/counter">Times</a> --}}
            </div>
            <div style="padding-left:16px">
            </div>
            </form>
            <br>

            <a href="/greeted"><button type="submit" class="button1">Greeted Names</button></a>
        </div>
        <script src="setTimeout.js"></script>
    </div>
</body>

</html>