<div class="center" style="background-color: rgb(107, 189, 122);">

    <h1 style="text-align: center;">Greeted Names </h1>
    <div style="text-align: center;"> 
        
        {{#each names}}
        <a href="/counter/{{@key}}">
            <p>{{@key}}</p>
        </a>
        {{/each}}
    </div>
</div>