<div class="center" style="background-color: rgb(14, 158, 40);">

    <h1 style="text-align: center;">Greeted Names </h1>
    <div style="text-align: center;"> 
        
        
        {{#each keynames}}
        <a href="/counter/{{@key}}">
            <p>{{@key}}</p>
        </a>
        {{/each}}
    </div>
</div>